.hero-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    margin-top: 3rem;
}

.hero-container-header{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}

.h-left{
    margin-top: -3rem;
}

.h-left h4{
    margin-bottom: 1rem;
    color: var(--color-secundary);
    font-weight: 400;
}

.h-left p{
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
}

.h-right{
    display: grid;
    place-items: center;
    position: relative;
}

.hero-circle{
    width: 25rem;
    height: 25rem;
    background: linear-gradient(75deg, var(--color-secundary), transparent);
    border-radius: 50%;
    position: absolute;
    filter: blur(10px);
}

.hero-image{
    position: relative;
}

.h-right:hover .hero-circle{
    filter: blur(15px);
}