*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --primary-hue: 210;
  --gray-hue: 240;
  --color-primary: hsl(var(--primary-hue), 100%, 50%);
  --color-primary-variant: hsl(var(--primary-hue), 100%, 65%);
  --color-secundary: #ffb116;
  --color-gray-100: hsl(var(--gray-hue), 47%, 94%);
  --color-gray-200: hsl(var(--gray-hue), 26%, 75%);
  --color-gray-300: hsl(var(--gray-hue), 24%, 64%);
  --color-gray-400: hsl(var(--gray-hue), 16%, 41%);
  --color-gray-500: hsl(var(--gray-hue), 44%, 25%);
  --color-gray-600: hsl(var(--gray-hue), 48%, 15%);

  --container-width-lg: 80%;
  --container-width-md: 90%;

  --transitions: all 500ms ease;
  --shadows: 2px 5px 8px rgba(20, 20, 20, 0.75);
  --glow: 0 0 14px 2px rgb(237 230 52 / 71%);
}

/*GENERAL STYLES*/

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-gray-200);
  line-height: 1.7;
  overflow-x: hidden;
  scrollbar-width: none;
  scrollbar-color: transparent;
  background: var(--color-gray-600) url('./Assets/images/bg_texture.png');
}

/* Hide the scrollbar for all div elements */
body::-webkit-scrollbar {
  width: 0; /* Set a width for the invisible scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the thumb */
}

body::-webkit-scrollbar-track {
  background-color: transparent; /* Hide the track */
}

section {
  margin-top: 10rem;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section-header > span {
  background: var(--color-gray-500);
  padding: 0.8rem;
  border-radius: 1rem;
  color: var(--color-secundary);
  font-size: 1.5rem;
}

.card {
  background: var(--color-gray-500);
  border: 2px solid transparent;
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 0 3rem 0 3rem;
  box-shadow: var(--shadows);
  transition: var(--transitions);
}

.card:hover {
  background: transparent;
  border-color: var(--color-gray-400);
  cursor: default;
}

.card > span {
  width: 3rem;
  height: 3rem;
  background: var(--color-primary);
  color: var(--color-gray-100);
  padding: 0.8rem;
  font-size: 1.5rem;
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
  margin-right: auto;
  border-radius: 1rem;
  transition: var(--transitions);
}

.card:hover > span {
  background: var(--color-secundary);
  color: var(--color-gray-600);
}

.card > small {
  margin-top: 1rem;
  display: block;
  font-weight: 300;
}

.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  color: var(--color-gray-100);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

a {
  color: var(--color-gray-100);
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.btn {
  color: var(--color-gray-100);
  width: fit-content;
  margin: 0 auto;
  padding: 0.9rem 2rem;
  background: var(--color-primary);
  border-radius: 1.5rem;
  transition: var(--transitions);
}

.btn:hover {
  background: var(--color-secundary);
  color: var(--color-gray-600);
  box-shadow: var(--glow);
}

.btn.lg {
  padding: 1.2rem 3rem;
  border-radius: 2rem;
  font-size: 1.1rem;
}

.btn.sm {
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
}


.header{
  margin-top: 5rem;
  height: 20rem;
  overflow: hidden;
  border-bottom: 2px solid var(--color-gray-400);
}

.header-container{
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
  background: black;
}

.header-container-bg{
  position: absolute;
  width: 100%;
}

.header-container-bg > img{
  opacity: 0.5;
  height: fit-content;
}

.header-content{
  position: relative;
  width: 45%;
  margin: 0 auto;
  text-align: center;
  color: var(--color-gray-100);
}

.header-content > h2{
  margin-bottom: 1rem;
}

.header-content > p{
  color: rgba(250, 250, 250, 0.75);
  margin-bottom: 0;
}

/**************Media Queries (Medium Devices)****************/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  .header-content {
    width: 75%;
  }
  
}

/**************Media Queries (Small Devices)****************/
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.2rem;
    line-height: 1.5;
  }

  section{
    margin-top: 7rem;
  }

  .header{
    height: fit-content;
  }

  .header-container-bg > img {
    min-height: 20rem;
  }

  .header-content{
    width: var(--container-width-md);
    padding: 3rem 0;
  }

  .header-content > p{
    font-size: 0.85rem;
  }

}